@font-face {
    font-family: 'Roboto';
    src: url(.Roboto/Roboto-Black.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'PT_Serif';
    src: url(.PT_Serif/PTSerif-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'pt_serifregular';
    src: url('ptserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

