@font-face {
    font-family: 'Roboto';
    src: url('Fonts/Roboto/roboto-regular-webfont.woff')format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto_me';
    src: url('Fonts/Roboto/roboto-medium-webfont.woff')format('woff');
    font-weight: 500;
}
/*@font-face {
    font-family: 'PT_Serif';
    src: url('Fonts/PT_Serif/ptserif-bold-webfont.woff')format('woff');
    font-weight: bold;
}*/
/*@font-face {
    font-family: 'pt_serifregular';
    src: url('Fonts/PT_Serif/ptserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/
@font-face {
    font-family: 'PT_Serif';
    src: url('Fonts/PT_Serif/ptserif-bold-webfont.woff')format('woff');
    font-weight: 700;
    font-style: normal;}

